<!DOCTYPE html>
<html lang="es">

<head>
  <title>Login</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>



  <!-- As a heading -->
  <nav class="navbar navbar-light bg-dark">
    <div class="container-fluid ">
      <a class="navbar-brand mb-0 h1 text-light ">Sistema de Bolsa de Empleo</a>
    </div>
  </nav>

  <div class="container my-5">
    <div class=jumbotron>
      <h1>LOGIN</h1>
      <br>
      <form class="form" role="form" action="/oferta" method="get" autocomplete="off">

        <div class="form-group">
          <label for="username">Usuario</label>
          <input name='username' placeholder="Escribe tu nombre de usuario" class="form-control" type="text">
        </div>
        <div class="form-group">
          <label for="pass1">Contraseña</label>
          <input name='password' placeholder="••••••••" class="form-control" type="password">
        </div>

        <div class="form-group">
          <input class="btn btn-dark my-3" type="submit" value="Login">
        </div>
      </form>

      <hr>
    </div>

</body>

</html>